<mat-toolbar class="toolbar" color="default">
  <mat-slide-toggle class="mat-typography toolbar-slide" color="primary" [checked]="checked"
    (change)="isChecked($event)">
    Favourites only
  </mat-slide-toggle>

  <span class="spacing"></span>

  <p class="mat-typography sort-label">Sort by:</p>
  <mat-form-field>
    <mat-select value="new" (selectionChange)="sortBy($event)">
      <mat-option value="new">Newest</mat-option>
      <mat-option value="old">Oldest</mat-option>
    </mat-select>
  </mat-form-field>

  <span class="spacing-mobile"></span>

  <div>
    <button mat-icon-button matTooltip="Tiles view" aria-label="Icon button turning on tiles view"
      (click)="updateView('tiles')">
      <mat-icon>view_modules</mat-icon>
    </button>

    <button mat-icon-button matTooltip="List view" aria-label="Icon button turning on list view"
      (click)="updateView('list')">
      <mat-icon>view_list</mat-icon>
    </button>
  </div>
</mat-toolbar>
