<div class="video-list-item">
  <div class="video-list-image" (click)="onDialog.emit(video.url)">
    <img [src]="video.thumbnail" alt="video thumbnail" class="video-thumbnail">
  </div>
  <div class="video-info">
    <mat-card-title>{{video.title}}</mat-card-title>
    <mat-card-subtitle>Saved: {{video.added | date}} </mat-card-subtitle>
    <p class="mat-body">Views: {{video.views}}</p>
    <p class="mat-body">Likes: {{video.likes}}</p>
  </div>
  <span class="spacing"></span>
  <div class="video-action">
    <a [href]="video.url" mat-button>Watch</a>
    <button mat-icon-button matTooltip="Add to favourites" aria-label="Icon button with star"
      (click)="onFavourite.emit(video.id)">
      <mat-icon *ngIf="!video.isFavourite; else fav">star_border</mat-icon>
      <ng-template #fav>
        <mat-icon>star</mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button matTooltip="Delete a video" aria-label="Icon button with rubbish bin"
      (click)="onDelete.emit(video.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
