<mat-card class="video-card">
  <mat-card-header>
    <mat-card-title>{{video.title}}</mat-card-title>
    <mat-card-subtitle>Saved: {{video.added | date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="video.thumbnail" (click)="onDialog.emit(video.url)" class="video-thumbnail">
  <mat-card-content>
    <p>Views: {{video.views}}</p>
    <p>Likes: {{video.likes}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a [href]="video.url" mat-button>Watch</a>
    <button mat-icon-button matTooltip="Add to favourites" aria-label="Icon button with star"
      (click)="onFavourite.emit(video.id)">
      <mat-icon *ngIf="!video.isFavourite; else fav">star_border</mat-icon>
      <ng-template #fav>
        <mat-icon>star</mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button matTooltip="Delete a video" aria-label="Icon button with rubbish bin"
      (click)="onDelete.emit(video.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
