<div class="container">
  <h3 *ngIf="!videos.length" class="mat-headline">No saved matching videos found. </h3>
  <ng-container *ngIf="videos.length">
    <div *ngIf="videos.length > 9">
      <a mat-button [routerLink]="['',page-1]">Previous</a>
      <a mat-button [routerLink]="['',page+1]">Next</a>
    </div>
    <video-tiles *ngIf="view === 'tiles'; else list" [videos]="displayedVideos" (onDelete)="deleteVideo($event)"
      (onDialog)="openVideoDialog($event)" (onFavourite)="toggleVideoFavourite($event)"></video-tiles>
    <ng-template #list>
      <video-list [videos]="displayedVideos" (onDelete)="deleteVideo($event)"
        (onFavourite)="toggleVideoFavourite($event)" (onDialog)="openVideoDialog($event)">
      </video-list>
    </ng-template>
  </ng-container>
  <button mat-fab color="primary" matTooltipPosition="left" class="button-floating" matTooltip="Load demo videos"
    (click)="loadDemo()">
    <mat-icon>archive</mat-icon>
  </button>
</div>
