.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.button-floating {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.video-router-links {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}