<div class="container">
  <h3 *ngIf="!videos.length" class="mat-headline">No saved matching videos found. </h3>
  <ng-container *ngIf="videos.length">
    <video-tiles *ngIf="view === 'tiles'; else list" [videos]="videos" (onDelete)="deleteVideo($event)"
      (onDialog)="openVideoDialog($event)" (onFavourite)="toggleVideoFavourite($event)"></video-tiles>
    <ng-template #list>
      <video-list [videos]="videos" (onDelete)="deleteVideo($event)" (onFavourite)="toggleVideoFavourite($event)"
        (onDialog)="openVideoDialog($event)">
      </video-list>
    </ng-template>
  </ng-container>
  <button mat-fab color="primary" matTooltipPosition="left" class="button-floating" matTooltip="Load demo videos" (click)="loadDemo()">
    <mat-icon>archive</mat-icon>
  </button>
</div>
