.nav {
  height: 90px;
}

.nav-heading {
  @media screen and (max-width:"768px") {
    display: none;
  }
}

.nav-search {
  @media screen and (max-width:"768px") {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.spacing {
  display: block;
  flex: 1 1 auto;
  @media screen and (max-width:"768px") {
    display: none;
  }
}
